<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Slip a Note into my Asylum</title>
         <!-- Styles -->
  <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
  <link href="https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Orbitron:wght@600&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=VT323&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=UnifrakturCook:wght@700&display=swap" rel="stylesheet">
</head>
<body>
<!-- Matrix Background -->
  <canvas id="codeCanvas" class="dimmed-matrix"></canvas>
<div class="navbar">
    This isn’t a contact form.
It’s a message in a bottle… tossed into the mind of a lunatic
</div>
<div class="table">
 <h2 style="color:red">Name-Apurav Agarwal</h2>
 <p> Currently studing in SBPS ranchi</p>
 <p>12TH standard</p>
 <p>My contact Information is below:-</p>
    <h2 style="colour: #00ff00">Instagram</h2>
   <a href="https://www.instagram.com/gg_apurav/" target="_blank" style="text-decoration: none; color: #E1306C;">
  <img src="https://upload.wikimedia.org/wikipedia/commons/a/a5/Instagram_icon.png" alt="Instagram" width="20" style="vertical-align: middle;">
  @gg_apurav
</a>
<script src="{{ url_for('static', filename='test.js') }}"></script>

</div>
</body>
</html>