<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>TRICKS</title>
      <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
     <link href="https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Orbitron:wght@600&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=VT323&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=UnifrakturCook:wght@700&display=swap" rel="stylesheet">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>
<body>
  <!-- Matrix Background -->
  <canvas id="codeCanvas" class="dimmed-matrix"></canvas>


<div class="navbar">They call them skills. I call them tricks — little weapons I keep up my sleeve for when the world gets boring.</div>
<div class="skills-grid">
      <div class="skills">
          <div class="skills-inner">
            <div class="face front">
              <h2 style="color: red">
TRICK NO.1
              </h2>
            </div>
            <div class="face back">
              <div class="back-wrapper">
                  <h2 style="color: red">Python</h2>
              </div>
            </div>
          </div>

    </div>
  <div class="skills">
          <div class="skills-inner">
            <div class="face front">
              <h2 style="color: red">
TRICK NO.2
              </h2>
            </div>
            <div class="face back">
              <div class="back-wrapper">
                  <h2 style="color: red">Javascript</h2>
              </div>
            </div>
          </div>

    </div>
    <div class="skills">
          <div class="skills-inner">
            <div class="face front">
              <h2 style="color: red">
TRICK NO.3
              </h2>
            </div>
            <div class="face back">
              <div class="back-wrapper">
                  <h2 style="color: red">Flask</h2>
              </div>
            </div>
          </div>

    </div>
    <div class="skills">
          <div class="skills-inner">
            <div class="face front">
              <h2 style="color: red">
TRICK NO.4
              </h2>
            </div>
            <div class="face back">
              <div class="back-wrapper">
                  <h2 style="color: red">Django</h2>
              </div>
            </div>
          </div>

    </div>
    <div class="skills">
          <div class="skills-inner">
            <div class="face front">
              <h2 style="color: red">
TRICK NO.5
              </h2>
            </div>
            <div class="face back">
              <div class="back-wrapper">
                  <h2 style="color: red">FIGMA</h2>
              </div>
            </div>
          </div>

    </div>
<!--    <div class="skills">-->
<!--          <div class="skills-inner">-->
<!--            <div class="face front">-->
<!--              <h2 style="color: #00ff00;">-->
<!--TRICK NO.6-->
<!--              </h2>-->
<!--            </div>-->
<!--            <div class="face back">-->
<!--              <div class="back-wrapper">-->
<!--              </div>-->
<!--            </div>-->
<!--          </div>-->

<!--    </div>-->
<!--    <div class="skills">-->
<!--          <div class="skills-inner">-->
<!--            <div class="face front">-->
<!--              <h2 style="color: #00ff00;">-->
<!--TRICK NO.7-->
<!--              </h2>-->
<!--            </div>-->
<!--            <div class="face back">-->
<!--              <div class="back-wrapper">-->
<!--              </div>-->
<!--            </div>-->
<!--          </div>-->

<!--    </div>-->
<!--    <div class="skills">-->
<!--          <div class="skills-inner">-->
<!--            <div class="face front">-->
<!--              <h2 style="color: #00ff00;">-->
<!--TRICK NO.8-->
<!--              </h2>-->
<!--            </div>-->
<!--            <div class="face back">-->
<!--              <div class="back-wrapper">-->
<!--              </div>-->
<!--            </div>-->
<!--          </div>-->

<!--    </div>-->
<!--        <div class="skills">-->
<!--          <div class="skills-inner">-->
<!--            <div class="face front">-->
<!--              <h2 style="color: #00ff00;">-->
<!--TRICK NO.9-->
<!--              </h2>-->
<!--            </div>-->
<!--            <div class="face back">-->
<!--              <div class="back-wrapper">-->
<!--              </div>-->
<!--            </div>-->
<!--          </div>-->

<!--    </div>-->
<!--        <div class="skills">-->
<!--          <div class="skills-inner">-->
<!--            <div class="face front">-->
<!--              <h2 style="color: #00ff00;">-->
<!--TRICK NO.10-->
<!--              </h2>-->
<!--            </div>-->
<!--            <div class="face back">-->
<!--              <div class="back-wrapper">-->
<!--              </div>-->
<!--            </div>-->
<!--          </div>-->

    </div>
<script src="{{ url_for('static', filename='test.js') }}"></script>
</body>
</html>